{% extends "layout.html" %}
{% set shouldHideNewCookieMessage = true %}

{% set pageTitle = "Cookie settings on HMRC services" %}

{% block pageTitle %}
    {{ pageTitle }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                {{ pageTitle }}
            </h1>
            <p>
                Cookies are files saved on your phone, tablet or computer when you visit a website.
            </p>
            <p>
                We use cookies to store information about how you use HMRC services, such as the pages you visit.
            </p>
            <p>
                You cannot change your cookie settings because:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>your web browser (the software you use to access the internet) is unsupported</li>
                <li>Javascript is not running on your browser</li>
            </ul>
            <h2 class="govuk-heading-m">How to change your cookies settings</h2>
            <p>Try reloading the page.</p>
            <p>If your browser is unsupported, <a href="https://www.gov.uk/help/browsers" class="govuk-link">upgrade your browser</a>.</p>
            <p>If Javascript is not running on your browser, try turning on Javascript.</p>
            <p>
                <a href="https://www.tax.service.gov.uk/help/cookies" class="govuk-link">
                    Find out more about cookies on HMRC services
                </a>
            </p>
        </div>
    </div>

{% endblock %}
